.lc-container{
    margin-top: 1em;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .75);
    background-color: white;
    width: 400px;
}

  .lc-box-col-1{
  height: 20px;
  background: #cb2d3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
  }
  
.form-kiri{
    text-align: left;
}

#submit-form:hover{
  background-color: #FFEFBA;
  color: #ef473a
}


.flip-top {
  -webkit-animation: flipTop 1 1s ease-out;
  -moz-animation: flipTop 1 1s ease-out;
  -ms-animation: flipTop 1 1s ease-out;
  -o-animation: flipTop 1 1s ease-out;
  animation: flipTop 1 1s ease-out;
  opacity: 1 !important;
  visibility: visible !important;
}
@-webkit-keyframes flipTop {
  0% {
    -webkit-transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes flipTop {
  0% {
    -moz-transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes flipTop {
  0% {
    -ms-transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    -ms-transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes flipTop {
  0% {
    -o-transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    -o-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes flipTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes flipTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes flipTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes flipTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (max-width : 480px) {
  .lc-container{
    margin-top: 1em;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .75);
    background-color: white;
    width: 300px;
}
#submit-form{
  margin-bottom:20px;
  width: 270px;
  background-color: #ef473a;
  font-weight:bold
}
  
  }

@media only screen and (min-width: 480px){
  .lc-container{
    margin-top: 1em;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .75);
    background-color: white;
    width: 400px;
}
#submit-form{
  margin-bottom:20px;
  width: 370px;
  background-color: #ef473a;
  font-weight:bold
}
 
 }